<div class="container">
  <div class="row">
    <div class="class col-md-3 col-sm-6">
      <div class="well">
      <h3><%= number_to_currency(@product.price) %></h3>
          <h3><%= @product.title %></h3>
          <img src='<%= @product.image %>'>
          <h3><%= @product.description %></h3>
          <h3><%= @product.category %></h3>
          <h3><%= @product.vendor.name %></h3>
          <% @product.product_options.each do |option|%>
          <h3><%= option.Style %></h3>
          <%end%>
        </div>
      </div>
    </div>
  </div>

  <h3>New Order</h3>
    
      <%= form_tag "/orders" do %>       
        <%= label_tag :quantity %> 
        <%= text_field_tag :quantity %> 
        <%= hidden_field_tag :product_id, @product.id %> 

        <%= submit_tag "Buy Now" %>


      <% end %>
